body {
  font-size: 1rem;
  line-height: 1.5;
}
img {
  vertical-align: middle;
}
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 6rem;
  font-weight: $font-weight-black;
}
h2 {
  font-size: 4.5rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 1.5rem;
}
p {
  font-family: "Lato", sans-serif;
  color: $dark-400;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
.fab,
.fas,
.material-icons,
.material-icons-outlined {
  display: inline-block;
  font-size: 24px;
  line-height: inherit;
  vertical-align: middle;
  transform: translateY(-0.1em);
}
