$utilities: map-merge(
  $utilities,
  (
    "font-family": (
      property: font-family,
      class: font,
      values: (
        monospace: var(--#{$variable-prefix}font-monospace),
        lato: $font-family-lato,
        roboto: $font-family-roboto,
        base: $font-family-sans-serif,
      ),
    ),
    "width": (
      property: width,
      responsive: true,
      class: w,
      values: (
        20: 20%,
        25: 25%,
        40: 40%,
        45: 45%,
        50: 50%,
        60: 60%,
        75: 75%,
        80: 80%,
        100: 100%,
        auto: auto,
      ),
    ),
    "height": (
      property: height,
      class: h,
      responsive: true,
      values: (
        20: 20%,
        25: 25%,
        40: 40%,
        50: 50%,
        60: 60%,
        75: 75%,
        80: 80%,
        100: 100%,
        auto: auto,
      ),
    ),
    "min-width": (
      property: min-width,
      responsive: true,
      class: min-w,
      values: (
        20: 20%,
        25: 25%,
        40: 40%,
        50: 50%,
        60: 60%,
        75: 75%,
        80: 80%,
        100: 100%,
        auto: auto,
      ),
    ),
    "font-size": (
      rfs: true,
      property: font-size,
      responsive: true,
      class: fs,
      values: $font-sizes,
    ),
    "text-indent": (
      property: text-indent,
      class: text-indent,
      values: $spacers,
    ),
    "font-weight": (
      property: font-weight,
      class: fw,
      values: (
        light: $font-weight-light,
        lighter: $font-weight-lighter,
        normal: $font-weight-normal,
        medium: $font-weight-medium,
        bold: $font-weight-bold,
        bolder: $font-weight-bolder,
        black: $font-weight-black,
      ),
    ),
    "white-space": (
      property: white-space,
      class: white-space,
      values: (
        normal,
        pre,
        nowrap,
        pre-wrap,
        pre-line,
        inherit,
      ),
    ),
    "object-fit": (
      property: object-fit,
      class: object,
      values: (
        contain,
        cover,
        fill,
        none,
        scale-down,
      ),
    ),
  )
);
