.bg-center-cover {
  background-position: center center;
  background-size: cover;
}
.btn-hover-dark {
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:hover {
    background-color: $dark;
    color: $white;
  }
}
.opacity-1 {
  opacity: 1 !important;
}
